/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

.register-form, .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form span, .login-form span {
    display: block;
}

